In [1]:
import os
import requests
def get_vault_configuration(endpoint):
    vault_addr = os.environ.get("VAULT_ADDR")
    vault_token = os.environ.get("VAULT_TOKEN")
    endpoint = f"{vault_addr}/v1/kv/data/{endpoint}"

    # HTTP GET 요청을 통해 데이터를 가져옵니다.
    headers = {"X-Vault-Token": vault_token}
    response = requests.get(endpoint, headers=headers)

    if response.status_code == 200:
        data = response.json()
        return data['data']['data']

    else:
        # 에러 응답의 경우 예외를 발생시킵니다.
        response.raise_for_status()

ssh_info = get_vault_configuration("ssh")
ssh_ip = ssh_info['ssh_ip']['odroid']
id = ssh_info['ssh_id']
passwd = ssh_info['ssh_pass']

In [2]:
print("a")

a

In [3]:
#mongodb 관련  database check
import pymongo

# MongoDB 서버 연결
client = pymongo.MongoClient(f'mongodb://{id}:{passwd}@{ssh_ip}:27017/')
db = client['FinanceData']
collection = db['marcap']
#print(db)
#print(collection)

In [5]:
year_str="2024"

In [6]:
import pandas as pd
today_df = pd.read_csv(f"https://github.com/FinanceData/marcap/raw/master/data/marcap-{year_str}.csv.gz")
today_df['_id'] = today_df['Code'].astype(str)+"_"+today_df['Date']
today_df['filename'] = f"marcap-{year_str}.csv.gz"

In [7]:
today_df.shape

(215188, 20)

In [8]:
print({"filename": f"marcap-{year_str}.csv.gz"})

{'filename': 'marcap-2024.csv.gz'}

In [9]:
cursor = collection.find({"filename": "marcap-2024.csv.gz"})
mongo_df = pd.DataFrame(cursor)

In [10]:
mongo_df

,_id,Code,Name,Close,Dept,ChangeCode,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,Stocks,Market,MarketId,Rank,Date,filename
0,247540_2024-01-02,247540,에코프로비엠,283500.0,우량기업부,2,-4500.0,-1.56,441580.0,1.261030e+11,288000.0,293000.0,282000.0,2.772668e+13,97801344,KOSDAQ GLOBAL,KSQ,13,2024-01-02,marcap-2024.csv.gz
1,086520_2024-01-02,086520,에코프로,638000.0,우량기업부,2,-9000.0,-1.39,249955.0,1.610081e+11,648000.0,660000.0,637000.0,1.698845e+13,26627668,KOSDAQ,KSQ,20,2024-01-02,marcap-2024.csv.gz
2,091990_2024-01-02,091990,셀트리온헬스케어,75900.0,우량기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,1.248287e+13,164464724,KOSDAQ GLOBAL,KSQ,31,2024-01-02,marcap-2024.csv.gz
3,066970_2024-01-02,066970,엘앤에프,205500.0,우량기업부,1,1500.0,0.74,882774.0,1.846733e+11,204500.0,217000.0,200000.0,7.448928e+12,36247825,KOSDAQ GLOBAL,KSQ,54,2024-01-02,marcap-2024.csv.gz
4,028300_2024-01-02,028300,HLB,53200.0,중견기업부,1,2500.0,4.93,2937109.0,1.540048e+11,50900.0,54400.0,50400.0,6.878424e+12,129293688,KOSDAQ,KSQ,59,2024-01-02,marcap-2024.csv.gz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215183,217320_2024-04-23,217320,썬테크,2500.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,2.625000e+09,1050000,KONEX,KNX,2800,2024-04-23,marcap-2024.csv.gz
215184,413300_2024-04-23,413300,티엘엔지니어링,1999.0,일반기업부,2,-56.0,-2.73,1768.0,3.384062e+06,2300.0,2300.0,1751.0,2.609724e+09,1305515,KONEX,KNX,2801,2024-04-23,marcap-2024.csv.gz
215185,245450_2024-04-23,245450,씨앤에스링크,1500.0,일반기업부,2,-100.0,-6.25,21.0,3.269900e+04,1600.0,1699.0,1500.0,2.369940e+09,1579960,KONEX,KNX,2802,2024-04-23,marcap-2024.csv.gz
215186,308700_2024-04-23,308700,테크엔,199.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,7.960000e+08,4000000,KONEX,KNX,2803,2024-04-23,marcap-2024.csv.gz
215187,322190_2024-04-23,322190,베른,4.0,일반기업부,2,-5.0,-55.56,267862.0,1.485697e+06,8.0,8.0,4.0,3.570079e+07,8925197,KONEX,KNX,2804,2024-04-23,marcap-2024.csv.gz

In [11]:
collection.count_documents({})

13246878

In [12]:
today_df

,Code,Name,Close,Dept,ChangeCode,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,Stocks,Market,MarketId,Rank,Date,_id,filename
0,005930,삼성전자,79600.0,NaN,1,1100.0,1.40,17142847.0,1.356958e+12,78200.0,79800.0,78200.0,4.751947e+14,5969782550,KOSPI,STK,1,2024-01-02,005930_2024-01-02,marcap-2024.csv.gz
1,000660,SK하이닉스,142400.0,NaN,1,900.0,0.64,2147458.0,3.040260e+11,139700.0,142800.0,139700.0,1.036675e+14,728002365,KOSPI,STK,2,2024-01-02,000660_2024-01-02,marcap-2024.csv.gz
2,373220,LG에너지솔루션,429500.0,NaN,1,2000.0,0.47,152929.0,6.539931e+10,425000.0,429500.0,422000.0,1.005030e+14,234000000,KOSPI,STK,3,2024-01-02,373220_2024-01-02,marcap-2024.csv.gz
3,207940,삼성바이오로직스,789000.0,NaN,1,29000.0,3.82,199238.0,1.559913e+11,760000.0,800000.0,756000.0,5.615629e+13,71174000,KOSPI,STK,4,2024-01-02,207940_2024-01-02,marcap-2024.csv.gz
4,005935,삼성전자우,63000.0,NaN,1,700.0,1.12,1305797.0,8.175978e+10,62300.0,63000.0,62200.0,5.184186e+13,822886700,KOSPI,STK,5,2024-01-02,005935_2024-01-02,marcap-2024.csv.gz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215183,217320,썬테크,2500.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,2.625000e+09,1050000,KONEX,KNX,2800,2024-04-23,217320_2024-04-23,marcap-2024.csv.gz
215184,413300,티엘엔지니어링,1999.0,일반기업부,2,-56.0,-2.73,1768.0,3.384062e+06,2300.0,2300.0,1751.0,2.609724e+09,1305515,KONEX,KNX,2801,2024-04-23,413300_2024-04-23,marcap-2024.csv.gz
215185,245450,씨앤에스링크,1500.0,일반기업부,2,-100.0,-6.25,21.0,3.269900e+04,1600.0,1699.0,1500.0,2.369940e+09,1579960,KONEX,KNX,2802,2024-04-23,245450_2024-04-23,marcap-2024.csv.gz
215186,308700,테크엔,199.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,7.960000e+08,4000000,KONEX,KNX,2803,2024-04-23,308700_2024-04-23,marcap-2024.csv.gz
215187,322190,베른,4.0,일반기업부,2,-5.0,-55.56,267862.0,1.485697e+06,8.0,8.0,4.0,3.570079e+07,8925197,KONEX,KNX,2804,2024-04-23,322190_2024-04-23,marcap-2024.csv.gz

In [13]:
mongo_df

,_id,Code,Name,Close,Dept,ChangeCode,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,Stocks,Market,MarketId,Rank,Date,filename
0,247540_2024-01-02,247540,에코프로비엠,283500.0,우량기업부,2,-4500.0,-1.56,441580.0,1.261030e+11,288000.0,293000.0,282000.0,2.772668e+13,97801344,KOSDAQ GLOBAL,KSQ,13,2024-01-02,marcap-2024.csv.gz
1,086520_2024-01-02,086520,에코프로,638000.0,우량기업부,2,-9000.0,-1.39,249955.0,1.610081e+11,648000.0,660000.0,637000.0,1.698845e+13,26627668,KOSDAQ,KSQ,20,2024-01-02,marcap-2024.csv.gz
2,091990_2024-01-02,091990,셀트리온헬스케어,75900.0,우량기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,1.248287e+13,164464724,KOSDAQ GLOBAL,KSQ,31,2024-01-02,marcap-2024.csv.gz
3,066970_2024-01-02,066970,엘앤에프,205500.0,우량기업부,1,1500.0,0.74,882774.0,1.846733e+11,204500.0,217000.0,200000.0,7.448928e+12,36247825,KOSDAQ GLOBAL,KSQ,54,2024-01-02,marcap-2024.csv.gz
4,028300_2024-01-02,028300,HLB,53200.0,중견기업부,1,2500.0,4.93,2937109.0,1.540048e+11,50900.0,54400.0,50400.0,6.878424e+12,129293688,KOSDAQ,KSQ,59,2024-01-02,marcap-2024.csv.gz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215183,217320_2024-04-23,217320,썬테크,2500.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,2.625000e+09,1050000,KONEX,KNX,2800,2024-04-23,marcap-2024.csv.gz
215184,413300_2024-04-23,413300,티엘엔지니어링,1999.0,일반기업부,2,-56.0,-2.73,1768.0,3.384062e+06,2300.0,2300.0,1751.0,2.609724e+09,1305515,KONEX,KNX,2801,2024-04-23,marcap-2024.csv.gz
215185,245450_2024-04-23,245450,씨앤에스링크,1500.0,일반기업부,2,-100.0,-6.25,21.0,3.269900e+04,1600.0,1699.0,1500.0,2.369940e+09,1579960,KONEX,KNX,2802,2024-04-23,marcap-2024.csv.gz
215186,308700_2024-04-23,308700,테크엔,199.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,7.960000e+08,4000000,KONEX,KNX,2803,2024-04-23,marcap-2024.csv.gz
215187,322190_2024-04-23,322190,베른,4.0,일반기업부,2,-5.0,-55.56,267862.0,1.485697e+06,8.0,8.0,4.0,3.570079e+07,8925197,KONEX,KNX,2804,2024-04-23,marcap-2024.csv.gz

In [14]:
complement_df = pd.merge(
    today_df,
    mongo_df[['_id','Code']].rename(columns={"Code":"check_code"}),
    on='_id',how='left'
)
complement_df = complement_df[complement_df['check_code'].isnull()][today_df.columns]

In [15]:
complement_df.shape

(0, 20)

In [16]:
mongo_df

,_id,Code,Name,Close,Dept,ChangeCode,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,Stocks,Market,MarketId,Rank,Date,filename
0,247540_2024-01-02,247540,에코프로비엠,283500.0,우량기업부,2,-4500.0,-1.56,441580.0,1.261030e+11,288000.0,293000.0,282000.0,2.772668e+13,97801344,KOSDAQ GLOBAL,KSQ,13,2024-01-02,marcap-2024.csv.gz
1,086520_2024-01-02,086520,에코프로,638000.0,우량기업부,2,-9000.0,-1.39,249955.0,1.610081e+11,648000.0,660000.0,637000.0,1.698845e+13,26627668,KOSDAQ,KSQ,20,2024-01-02,marcap-2024.csv.gz
2,091990_2024-01-02,091990,셀트리온헬스케어,75900.0,우량기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,1.248287e+13,164464724,KOSDAQ GLOBAL,KSQ,31,2024-01-02,marcap-2024.csv.gz
3,066970_2024-01-02,066970,엘앤에프,205500.0,우량기업부,1,1500.0,0.74,882774.0,1.846733e+11,204500.0,217000.0,200000.0,7.448928e+12,36247825,KOSDAQ GLOBAL,KSQ,54,2024-01-02,marcap-2024.csv.gz
4,028300_2024-01-02,028300,HLB,53200.0,중견기업부,1,2500.0,4.93,2937109.0,1.540048e+11,50900.0,54400.0,50400.0,6.878424e+12,129293688,KOSDAQ,KSQ,59,2024-01-02,marcap-2024.csv.gz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215183,217320_2024-04-23,217320,썬테크,2500.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,2.625000e+09,1050000,KONEX,KNX,2800,2024-04-23,marcap-2024.csv.gz
215184,413300_2024-04-23,413300,티엘엔지니어링,1999.0,일반기업부,2,-56.0,-2.73,1768.0,3.384062e+06,2300.0,2300.0,1751.0,2.609724e+09,1305515,KONEX,KNX,2801,2024-04-23,marcap-2024.csv.gz
215185,245450_2024-04-23,245450,씨앤에스링크,1500.0,일반기업부,2,-100.0,-6.25,21.0,3.269900e+04,1600.0,1699.0,1500.0,2.369940e+09,1579960,KONEX,KNX,2802,2024-04-23,marcap-2024.csv.gz
215186,308700_2024-04-23,308700,테크엔,199.0,일반기업부,0,0.0,0.00,0.0,0.000000e+00,0.0,0.0,0.0,7.960000e+08,4000000,KONEX,KNX,2803,2024-04-23,marcap-2024.csv.gz
215187,322190_2024-04-23,322190,베른,4.0,일반기업부,2,-5.0,-55.56,267862.0,1.485697e+06,8.0,8.0,4.0,3.570079e+07,8925197,KONEX,KNX,2804,2024-04-23,marcap-2024.csv.gz

In [ ]:
# 실패 되지 않았음 : 아마 형식 차이로 문제 발생이라고 생각
#complement_df = today_df[~today_df.isin(mongo_df)].dropna()

In [ ]:
complement_df.shape

In [ ]:
# 데이터 확인
import pandas as pd
from datetime import datetime
import os
marcap_loc = "/Users/linetor/Documents/vscode/code_folder/crawler/stock/marcap/data/"
files = os.listdir(marcap_loc)

yearStr = datetime.today().strftime("%Y")

#파일명 출력하기
print("start")
from tqdm import tqdm
for fileName in tqdm(files):
    if yearStr not in fileName:
        df = pd.read_csv(marcap_loc+fileName)
        df['_id']=df['Code'].astype(str)+"_"+df['Date']
        df['filename']=fileName
        data_dict = df.to_dict('records')
        collection.insert_many(data_dict)
print("done")

In [ ]:
df['_id'].value_counts().sort_values()

In [ ]:
df = pd.read_csv(marcap_loc+"marcap-2021.csv.gz")
df['_id']=df['Code'].astype(str)+"_"+df['Date']
data_dict = df.to_dict('records')

In [ ]:
df['Code'].isna().sum()

In [ ]:
data_dict[0]

In [ ]:
df.head()
# Date : 날짜 (DatetimeIndex)
# Rank: 시가총액 순위 (당일)
# Code : 종목코드
# Name : 종명이름
# Open : 시가
# High : 고가
# Low : 저가
# Close : 종가
# Volume : 거래량
# Amount : 거래대금
# Changes : 전일대비
# ChangeCode: 등락 기호
# ChagesRatio : 전일대비 등락률
# Marcap : 시가총액(백만원)
# Stocks : 상장주식수
# MarketId : 시장기호
# Market : 시장
# Dept : 부서(한국거래소)

In [ ]:
collection.insert_one(
    {"_id":{
        '_metadata': {
            "Date" : "날짜 (DatetimeIndex)",
            "Rank": "시가총액 순위 (당일)",
            "Code" : "종목코드",
            "Name" : "종명이름",
            "Open" : "시가",
            "High" : "고가",
            "Low" : "저가",
            "Close" : "종가",
            "Volume" : "거래량",
            "Amount" : "거래대금",
            "Changes" : "전일대비",
            "ChangeCode": "등락 기호",
            "ChagesRatio" : "전일대비 등락률",
            "Marcap" : "시가총액(백만원)",
            "Stocks" : "상장주식수",
            "MarketId" : "시장기호",
            "Market" : "시장",
            "Dept" : "부서(한국거래소)",
        }
    }
    }
)

In [ ]:
collection.create_index([('Date', 1)])
collection.create_index([('Code', 1)])
collection.create_index([('Name', 1)])
collection.create_index([('Code', 1), ('Date', 1)])
collection.create_index([('Name', 1), ('Date', 1)])
collection.create_index([('filename', 1)])

In [ ]:
import pandas as pd
today_df = pd.read_csv("https://github.com/FinanceData/marcap/raw/master/data/marcap-2024.csv.gz")
today_df['_id'] = today_df['Code'].astype(str)+"_"+today_df['Date']
today_df['filename'] = "marcap-2024.csv.gz"

In [ ]:
query = { 'filename': 'value_to_search' }  
cursor = collection.find({"filename": "marcap-2024.csv.gz"})
mongo_df = pd.DataFrame(cursor)

In [ ]:
insert_df = today_df[~today_df.isin(mongo_df)].dropna()

In [ ]:
insert_df

In [ ]:
all_documents = collection.find()
for document in all_documents:
    print(document)
    input()